<p><img src='{{flags.svg}}' alt='Flag of {{name.common}}' width='80' />
  {{name.official}}</p>
<p>Capital: {{capital}}</p>
<p>Population: {{population}} </p>
<p>Languages: {{#each languages}} {{this}}, {{/each}}</p>